.panel.panel-default
  .panel-heading
    %h4.panel-title
      Additional Detail Submissions
  .panel-body
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th
            = 'ID'
          %th
            = 'Service Name'
          %th
            = 'View'
          %th
            = 'Edit'
          %th
            = 'Delete'
      %tbody
        - protocol.service_requests.each do |service_request|
          - service_request.additional_detail_services.each do |service|
            - submissions = Submission.where(service: service, identity: current_identity)
            - submissions.each do |submission|
              %tr{ class: "submission", data: { id: "#{submission.id}", service_id: "#{service.id}" } }
                %td
                  .text-center
                    = submission.id
                %td
                  .text-center
                    = service.name
                %td
                  = link_to service_additional_details_submission_path(service, submission),
                    remote: true, class: 'btn btn-primary' do
                    %span.glyphicon.glyphicon-search

                %td
                  = link_to edit_service_additional_details_submission_path(service, submission),
                    remote: true, class: 'btn btn-warning' do
                    %span.glyphicon.glyphicon-edit
                %td
                  = link_to service_additional_details_submission_path(service, submission, protocol_id: @protocol.id), 
                    remote: true, class: 'btn btn-danger', method: :delete do
                    %span.glyphicon.glyphicon-remove
